.container{
	/* height: 50rem; */
	padding: 4rem 5rem;
	position: relative;
}

.section-filter{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 2rem;
}

.main{
	max-width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
	grid-gap: 3rem;

	&__box{
		border: var(--line);
		border-radius: 5px;
		overflow: hidden;
		height: 90%;
	}
	&__image{
		max-width: 100%;
		width: 100%;
		height: 70%;
		cursor: pointer;
	}
	&__details{
		display: grid;
		grid-template-columns: repeat(2, minmax(10rem, max-content));
		grid-gap: 2rem;
		padding: 2rem;
		font-size: 1.4rem;
	}
}
